---
layout: post
---

{{ content }}

That's it for now,
<br/>
<i style="color:#000;float:left">- Stefan</i>
<i style="color:#999;float:right">Word count: {{ content | number_of_words }}</i>
<br />
<br />
<div class="postNav">
	{% if page.previous and page.previous.id != page.id %}
	<div style="display: inline-block;"><a href={{ page.previous.id }}>Previous post</a></div>
	{% endif %}
	{% if page.next and page.next.id != page.id %}
	<div style="display: inline-block;"><a href={{ page.next.id }}>Next post</a></div>
	{% endif %}
</div>
<br />